<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <style type="text/css" media="screen">
      @import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
      body {
        background-color: #49d49d;
        color: #333;
        text-align: center;
        font-family: 'nunito';
      }
    </style>
  </head>
  <body>
  <div style="background-color: #49d49d; color: #333; text-align: center; font-family: nunito;">
    <img width="70px" style="margin-bottom: 40px;"  src="https://res.cloudinary.com/dutstern8/image/upload/v1578589668/icons8-basilica-100_yhwibv.png" alt="">

    <br>

    <img  src="https://res.cloudinary.com/dutstern8/image/upload/v1578589668/separator_qjjh5u.png" alt="">
    
    
    
    <h4 style=" font-size: 22px; color: #003366; font-weight: 700;">Welcome <span style="color: #333;"><%= @email %></span></h4>
    
    
    <p style=" font-size: 20px; color: #003366; font-weight: 700; margin-top: -20px;">
      You have been invited to join Muslim rwanda App as an admin 
      <br>
    </p>
    <p style="font-size: 17px; color: #555; margin-bottom: 40px;">
      To create an account please follow this link
    </p>
    
    <a style="background: #ffdc6c; border: 1px solid #ffdc6c; text-decoration: none; padding: 4px 8px; border-radius: 4px; color: #333; font-size: 16px; font-weight: 700;" href="<%= @url %>">Create Account</a> 
    
    <img style="width: 400px; margin-top: 40px;"  src="https://res.cloudinary.com/dutstern8/image/upload/v1578589668/undraw_moonlight_5ksn_oe3ryn.svg" alt="">
  </div>
  
    
    
  </body>
</html>